* { /*resetter */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: black;
}

#everything {
    display: flex; /* this makes the right side... go to the right */
    height: 90vh;
    /* border: 3px solid blue; */
    max-width: 70vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#leftImageCont {
    width: 20vw;
}

#leftImageCont img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* this crops the image instead of scaling it down to fit the container */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid white;
}

#rightSide {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 90vh; /*not sure why i had to re-state this here for it to be aligned with the left */
}

main > div{
    height: calc(100%/3); /* this makes all the divs even on the right side */
    width: 50vw;
    border-style: none;
}

#topRightCont {
    background-image: linear-gradient(#024059, #21788B);
    border-top-right-radius: 10px;
    display: flex;
    align-items:last baseline;
    justify-content: center;
}

h1 {
    color:white;
    font-size: 5vh;
}

#middleRightCont {
    background-image: linear-gradient( #21788B , white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottomRightCont {
    background-image: linear-gradient(white, #FAD0B8);
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:first baseline;
}
#createAcc {
    padding: 20px;
    width: 10vw;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #21788B;
    margin-top: 20px;
}

#mainForm {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    /*below this line: styles the container of the form itself*/
    max-width: 70%;
    max-height: 70%;
}
#phoneNumber {
    order: 6;
}
/* this only looks good if you can nail the gradient colors perfectly, too much work*/
/* #firstName, #lastName {
    background-image:linear-gradient(#5998a6, #75abb7);
}

#email, #phoneNumber {
    background-image:linear-gradient(#75abb7, #91c4ce) ;
} */

input { /*targets all the inputs inside form at the same time!*/
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
    border: none;
}

input:focus,
input:focus-visible {
    box-shadow: 0px 5px 10px #024059;
    border:1px solid #024059;
    outline: none; /*i was trying so hard to FIND THIS, this gets rid of the solid black outline when a text was selected */
}